<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎页</title>
    <style>
        body {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        #welcome {
            top: 20%;
            left: 35%;
            text-align: center;
            position: absolute;
        }
    </style>
</head>
<body>
<div id="welcome">
    <h1>欢迎使用</h1>
    <div style="text-align: center; padding: 10px">
        <a style="text-decoration: none;" href="https://github.com/yishengxiaoyao" target="_bank">
            <strong>欢迎Start支持项目发展:)</strong>
        </a>
    </div>
    <div style="text-align: center; padding: 4px">
        如果对你有帮助,请任意打赏
    </div>

</div>
</body>
</html>